# Python virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# Large data files
data/
*.h5
*.pkl
*.npy

# Pointcept specific
Pointcept/ 